sudo: required
services:
  - docker
script:
  - docker build -t frontendapp .
after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
  - docker tag frontendapp $DOCKER_USER/frontendapp:$TRAVIS_BUILD_NUMBER
  - docker push $DOCKER_USER/frontendapp:$TRAVIS_BUILD_NUMBER
  - docker tag frontendapp $DOCKER_USER/frontendapp:latest
  - docker push $DOCKER_USER/frontendapp:latest
